* {
    margin: 0;
}
body {
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
.back {
    background-image: url("https://riberafamily.at.ua/.s/t/1717/parallax.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.heder1 {
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 60px;
    position: fixed;
    display: flex;
    justify-content: space-around;
}
.logo a {
    color: #b4b4b4;
    text-decoration: none;
    font-size: 35px;
    margin-top: 15px;
    display: block;
    transition: 0.3s;
}
.logo a:hover {
    color: #e3364d;
}
.heders {
    margin-top: 20px;
}
.heders a {
    color: #ffffffa6;
    font-size: 14px;
    text-decoration: none;
    transition: 0.2s;
    margin: 17px;

}
.heders a:hover {
    color: #e3364d;
}
.icn {
    margin-top: 13px;
}
.icn i {
    color: rgba(255,255,255,.65);
    font-size: 20px;
    margin: 5px;
    cursor: pointer;
    transition: 0.02s;
}
.icn i:hover {
    color: #e3364d;
}

.icn img {
    width: 30px;
    height: 30px;
    display: block;
    margin-left: 70px;
    margin-top: -30px;
}
#icon {
    cursor: pointer;
}
.containerr {
    width: 80%;
    height: 600px;
    background-color: #000000;
    margin-top: 100px;
    border-radius: 40px;
}
.link {
    width: 100%;
    height: 50px;
    background-color: black;
    margin-top: 30px;
}
.link .cr {
    color: #b4b4b4;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: center;
    padding: 15px 0px;
}
.link p {
    color: #b4b4b4;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: end;
    margin-right: 20px;
    margin-top: -10px;
}
::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(#642bff, #ff22e6);
    border-radius: 10px;
  }
.containerr p {
    color: #f1f1f1;
    font-weight: bold;
    font-size: 30px;
    padding-top: 250px;
}
@media (max-width: 800px){
    .containerr p {
        font-size: 25px;
    }
    .link .cr {
        margin-right: 200px;
    }
}
@media (max-width: 690px){
    .link .cr {
        margin-right: 200px;
    }
}
@media (max-width: 560px){
    .link .cr {
        font-size: 10px;
        margin: 0;
    }
    .link p {
        max-width: 300px;
        font-size: 10px;
        margin-left: 200px;
    }
}
@media (max-width: 520px){
    .logo a {
        font-size: 28px;
    }
    .heders a {
        font-size: 11px;
    }
}
@media (max-width: 458px){
    .link p {
        margin: 0;
        margin-top: -10px;
    }
    .logo a {
        font-size: 25px;
    }
    .heders a {
        font-size: 12px;
    }
}
@media (max-width: 444px){
    .logo a {
        font-size: 24px;
    }
    .heders a {
        font-size: 10px;
    }
}
@media (max-width: 423px){
    .logo a {
        font-size: 23px;
    }
    .heders a {
        font-size: 9px;
    }
}
@media (max-width: 402px){
    .logo a {
        font-size: 22px;
    }
    .heders a {
        font-size: 8px;
    }
}
@media (max-width: 387px){
    .logo a {
        font-size: 21px;
    }
    .heders a {
        font-size: 7px;
    }
}
@media (max-width: 371px){
    .logo a {
        font-size: 21px;
    }
    .heders a {
        font-size: 7px;
    }
}
@media (max-width: 370px){
    .logo a {
        font-size: 20px;
    }
    .heders a {
        font-size: 7px;
    }
}
@media (max-width: 366px){
    .logo a {
        font-size: 19px;
    }
    .heders a {
        font-size: 7px;
    }
}
@media (max-width: 366px){
    .logo a {
        font-size: 18px;
    }
    .heders a {
        font-size: 7px;
    }
}